span.error-msg {
    font-size: 12px;
    color: red;
}
.blog-image{
    max-height: 80%;
    max-width: 80%;
    margin: 20px;
}
.right-item {
    float: right;
    margin: 50px;
}
.main{
    margin: 5px 100px;
    border: solid;
}
#back-btn{
    margin: 40px 100px;
}
.main-content{
    text-align: center;
}
.remove-anchor-style{
    color: black;
    text-decoration: none;
}


/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 12%;
  left: 67.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}